@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #skill,
    .skill-details-container{
        margin-top: 2rem;
    }
    #profile{
        display: block;
        padding-top: 10rem;
    }
    .section-container {
        display: block;
    }
    .arrow{
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        height: 350px;
        object-fit: cover;
}
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer{
        height: 7vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .skill-sub-title {
        font-size: 1.25rem;

   }
   .logo {
    font-size: 1.5rem;
   }
   .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
   }
   .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
   }
   .section__text__p2{
    font-size: 1.25rem;
   }
   .title{
    font-size: 2rem;
   }
   .text-container{
    text-align: justify;
   }
}


@media screen and (max-width: 768px) {
    .experience-container, .more-experience{
        grid-template-columns: repeat(2, 1fr);
    }
    .certification-container, .more-certification  {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 480px) {
    .experience-container, .more-experience{
        grid-template-columns: 1fr;
    }
    .certification-container, .more-certification {
        grid-template-columns: 1fr;
    }
    .project-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
} 


@media screen and (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .skill-box {
    padding: 0.8rem;
  }

  .skill-box img {
    width: 26px;
  }
}
